# Requirements version 3
# to run on your local machine
# 1. install SUMO (Version 1.23.1) as described here: https://sumo.dlr.de/docs/Installing/index.html
# 2. create a virtual environment and activate it
# 3. install the requirements using pip install -r requirements.txt


collector==0.4.6
cvxpy==1.6.5
lxml==5.4.0
matplotlib==3.10.3
networkx==3.4.2
numpy==2.2.6
optuna==4.3.0
pandas==2.2.3
qpsolvers==4.7.0
scikit-learn==1.6.1
scipy==1.15.3
sumolib==1.23.1
SumoNetVis==1.6.2
traci==1.23.1
imageio==2.37.0
Mosek==11.0.20

# for connection with jupyterlab
# 4. install:
# python -m pip install ipykernel
# 5. and make it visible to the system with:
# python -m ipykernel install --name SHORTNAME --display-name "FULL NAME" --user
